.oiyamaps div {
  box-sizing: border-box;
}
.oiyamaps-button {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
}
.oiyamaps-button:hover,
.oiyamaps-button:focus,
.oiyamaps-button.active:hover,
.oiyamaps-button.active:focus {
  background: #000000;
  color: #eeeeee;
  border-color: #000000;
  outline: none;
}
.oiyamaps-button_primary {
  border-color: #ffdd44;
  background: #ffdd44;
  width: 100%;
}
.oiyamaps-button_black {
  border-color: #ffaa44;
  background: #000000;
  color: #eeeeee;
  width: 100%;
}
.oiyamaps-button_black:hover,
.oiyamaps-button_black:focus,
.oiyamaps-button_black.active:hover,
.oiyamaps-button_black.active:focus {
  background: #ffdd44;
  color: #000000;
}
.oiyamaps-button_block {
  width: 100%;
}
.oiyamaps-modal {
  display: none;
}
.oiyamaps-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #ffffff;
  opacity: .7;
  z-index: 159900;
}
.oiyamaps-modal__container {
  box-sizing: border-box;
  position: fixed;
  width: 500px;
  top: 30px;
  left: 50%;
  margin-left: -250px;
  right: 30px;
  bottom: 30px;
  z-index: 160000;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
}
.oiyamaps-modal__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  min-height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  background: #fcfcfc;
}
.oiyamaps-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
.oiyamaps-modal__close:after {
  content: '✕';
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 7px 9px;
  color: #000000;
}
.oiyamaps-modal__close:hover:after,
.oiyamaps-modal__close:focus:after,
.oiyamaps-modal__close:active:after {
  color: #ffdd44;
  outline: none;
}
.oiyamaps-modal.active {
  display: block;
}
.oiyamaps-block {
  display: block;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.oiyamaps-block:before,
.oiyamaps-block:after {
  display: block;
  content: '';
  clear: both;
}
.oiyamaps-block__options {
  display: block;
  float: left;
  width: 100%;
  padding: 0 30px;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  padding-top: 45px;
}
.oiyamaps-block__tabs {
  margin: 0;
  list-style: none;
  position: absolute;
  background: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 9;
}
.oiyamaps-block__tabs:before,
.oiyamaps-block__tabs:after {
  display: block;
  content: '';
  clear: both;
}
.oiyamaps-block__tab {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 1px 0;
  background: #eeeeee;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
}
.oiyamaps-block__tab:first-child {
  border-left-width: 1px;
}
.oiyamaps-block__tab.active {
  background: #ffdd44;
}
.oiyamaps-block__tab:hover,
.oiyamaps-block__tab:focus,
.oiyamaps-block__tab.active:hover,
.oiyamaps-block__tab.active:focus {
  background: #000000;
  color: #eeeeee;
  border-color: #000000;
}
.oiyamaps-block__map {
  display: none;
  float: left;
  width: 70%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
.oiyamaps-block__add {
  margin-bottom: 5px;
}
.oiyamaps-map {
  background: #eeeeee;
  height: 100%;
}
.oiyamaps-form__group {
  position: relative;
}
.oiyamaps-form__slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.oiyamaps-form__slider-item {
  display: none;
  margin: 0 0 5px 0;
}
.oiyamaps-form__slider-item.active {
  display: block;
}
.oiyamaps-form__input {
  display: block;
  position: relative;
}
.oiyamaps-form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  /*position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: 0;*/
}
.oiyamaps-form__label-checkbox {
  user-select: none;
  margin: 0 0 5px 0;
  display: inline-block;
}
.oiyamaps-form__label-checkbox:before,
.oiyamaps-form__label-checkbox:after {
  display: block;
  content: '';
  clear: both;
}
.oiyamaps-form__label-checkbox-bullet {
  position: relative;
  float: left;
  top: .2em;
  margin-right: 10px;
}
.oiyamaps-form__label-checkbox-bullet:before {
  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
.oiyamaps-form__label-checkbox-bullet:after {
  content: ' ';
  display: block;
  width: 1.2em;
  height: 1.2em;
  background: url(../images/check.svg) 0 0 / contain no-repeat;
  position: absolute;
  opacity: 0;
  top: -0.5em;
  left: .15em;
  transition: all 200ms ease-out;
}
.oiyamaps-form__control:checked + .oiyamaps-form__label-checkbox-bullet:before {
  border-color: #ffdd44;
  border-width: 2px;
}
.oiyamaps-form__control:checked + .oiyamaps-form__label-checkbox-bullet:after {
  opacity: 1;
  top: -0.3em;
}
input.oiyamaps-form__control[type=text],
input.oiyamaps-form__control[type=number] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  margin: 0 0 5px 0;
}
input.oiyamaps-form__control[type=text]:focus,
input.oiyamaps-form__control[type=number]:focus {
  border-color: #ffdd44;
  outline: 2px solid #ffdd44;
  box-shadow: none;
}
input.oiyamaps-form__control[type=checkbox] {
  display: none;
}
.oiyamaps-form__hint {
  line-height: 1.4;
  margin: 0 0 10px 0;
  color: #999;
  font-size: 12px;
  font-weight: 300;
}
.oiyamaps-form__hint:empty {
  display: none;
}
.oiyamaps-form__multiselect {
  margin: 0 0 10px 0;
}
.oiyamaps-form__cancel {
  margin-top: 5px;
}
.oiyamaps__shortcode {
  user-select: none;
}
.oiyamaps__shortcode-item {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  text-align: left;
  border-style: solid;
  border-color: #ffdd44;
  border-width: 2px;
  text-transform: uppercase;
  cursor: default;
  margin: 0 0 5px 0;
  line-height: 1;
  font-size: 10px;
}
.oiyamaps__shortcode-address {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
  padding: 5px 0 5px 10px;
}
.oiyamaps__shortcode-buttons {
  display: table-cell;
  position: relative;
  width: 1px;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
}
.oiyamaps__shortcode-button {
  font-size: 20px;
  padding: 10px;
  display: inline-block;
  opacity: .2;
  cursor: pointer;
}
.oiyamaps__shortcode-button:hover,
.oiyamaps__shortcode-button:focus {
  opacity: 1;
}
.oiyamaps-icons {
  width: 550px;
  height: 480px;
  overflow-y: scroll;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);
}
.oiyamaps-icons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.oiyamaps-icons__list:before,
.oiyamaps-icons__list:after {
  display: block;
  content: '';
  clear: both;
}
.oiyamaps-icons__item {
  float: left;
  width: 110px;
  height: 110px;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) 50% 50% no-repeat;
  border: 10px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
.oiyamaps-icons__item:hover,
.oiyamaps-icons__item:focus,
.oiyamaps-icons__item.active {
  border-color: #ffdd44;
}
.oiyamaps-hidden {
  display: none;
}
.oiyamaps-error {
  color: red;
}
.oiyamaps-preloader:after {
  position: absolute;
  box-sizing: border-box;
  content: '';
  top: 50%;
  right: .5em;
  margin-top: -0.7em;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  padding: 0;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: oiyamaps__preloader 0.8s linear infinite;
  animation: oiyamaps__preloader 0.8s linear infinite;
}
@keyframes oiyamaps__preloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes oiyamaps__preloader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
